html, body/*, and all other map parent selectors*/ {
  height: 100%;
  width: 100%;
}

.navbar {
    position: relative;
}

#map-container, #map {
  width: auto;
  height: 100%;
}


.modal-backdrop {
     background-color: rgba(0,0,0,.1) !important;
}

.error-icon {
    color: red;
}
