
html, body {
    height: 100%;
}

#mapid {
    height: 100%;
}

.container-fluid, .content{
    height: 100%;
}

.modal-backdrop {
     background-color: rgba(0,0,0,.1) !important;
}

.error-icon {
    color: red;
}
